@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family: 'Lato', sans-serif;
	font-size: 18 px;
	margin: 0px;
}

h1, h2, h3 {
	font-family: 'Noto', serif;
	font weight: bold;
}

a {
	text-decoration: none;
}
